<!-- Security Questions need to be replaced, captcha to be added to lowerleft corner above create.  

Create servlet to upload pic. accept_info() to be created -->

<!DOCTYPE html>

<html>
<head>
    <title>Nikomen Create Account</title>
	
	{{response.files.append(URL('static','design.css'))}}
    {{include 'web2py_ajax.html'}}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="design.css">
</head>

<body>
	<div id='LogoSpan'>
		<img src="../Images/nikomen_logosmall.jpg" alt="A Greek Lord Running to Deliver Your Message" style="width:100%;height:175px">
	</div><br>

	<div style="background-color:white">
		<h1><center>CREATE ACCOUNT</center></h1>
	</div>

	<div style="width: 80%; overflow: hidden;background-color:white;margin: 0% 10% 0% 10%;">
		<div id='input_pic' style="float:left;margin: 0% 0% 0% 10%;width:40%">
			<center>
    			<br><br>
    			<img class='Avatar' src="Images/niko_man.jpg" style="width:250px; height:300px"><br>
				<form action="upload_pic.jsp">
	  				<input type="file" name="prof_pic" accept="image/*">
          			<br><br>
				</form>
			</center>
	
			<!--<button onclick="accept_info"> CREATE ACCOUNT</button>-->
		</div>

		<!--
		<div id='input_info' style="float:right;margin: 0% 10% 0% 0%;width:40%">
	  		<center><form action="create_function"><br>
				*First Name: <input type="text" name="fname"><br><br>
				*Last Name: <input type="text" name="lastname"><br><br><br>

				*Username: <input type="text" name="username"><br><br>
				*Password: <input type="password" name="pswd"><br><br>
				*Retype Password: <input type="password" name="repswd"><br><br><br>

				*Email address: <input type="text" name="email"><br><br>
				*Email Password: <input type="password" name="empswd"><br><br><br>

				*Recovery Email: <input type="text" name="recemail"><br><br>
				*Recovery Question: <select name="secQues">
					<option value="one">Security question one</option>
				  	<option value="two">Security question two</option>
				  	<option value="three">Security question three</option>
				  	<option value="four">Security question four</option>
		  			<option value="five">Security question five</option>
		  		</select>
				<br><br>
				*Recovery Answer: <input type="text" name="secAns"><br><br>
        		<input type="submit" valid="Create Account" style="...">
	  		</form></center><br>
	  	</div>
	  	-->
		{{=form}}
		{{=BEAUTIFY(request.vars)}}
	</div>


</body>
<br>

	
</html>