<!-- 
Dyanmic title based off of username, corner menu, inbox, emails
-->

<!DOCTYPE html>
<html>
	<head>
		<!-- Dyanmic title based off of username-->
		<title></title>
		
		{{response.files.append(URL('static','design.css'))}}
		{{response.files.append(URL('static','css3-gmail-style.css'))}}
    	{{include 'web2py_ajax.html'}}

	</head>
	<body>
		
		<!-- Logo Placement -->
		<div id="LogoSpan" > 
			<img src="{{=URL(r=request,c='static',f='nikomen_logosmall.jpg')}}" alt="A Greek Lord Running to Deliver Your Message" style="width:48%;height:125px; margin:3% 0% 0% 0%">
			
			<!-- Corner Menu, do in Web2Py -->
			<div id="UserBar" style="width:45%; float:right">	
					<a href="" >  Contact Us  </a>
					|
					<a href="" >  Home  </a>
					|
					<a href="" >  Settings  </a>
					|
					<a href="" >  Logout  </a>	
			</div>
		</div>
		
		<div class="TextSpan" style="margin-bottom: 1%;" >
			<div class='InBoxSpan'>
				<div id="DynamicInbox">
					
					<!-- Web2py for Inboxes -->
					<center><h2>Boxes</h2></center>                      
						<div class='break' style='background-color:#868F95'>                 
							<br><br>                 
						</div>
					
						<a href="#"><center><h3>Inbox</h3></center></a>
						<a href="#"><center><h3>Drafts</h3></center></a>
						<a href="#"><center><h3>Sent</h3></center></a>
						<a href="#"><center><h3>Trash</h3></center></a>
                                        
						<br><br><br>
						<a href="#">
							<center><img src="{{=URL(r=request,c='static',f='addressbook.png')}}" style="width:100px; height:120px"></center>
						</a>
					
				</div>	
			</div>
			
			<div class="EmailSpan">
				<ul class="grouped">
					<li style="margin-right:20px;"><a href="#" class="bttn red">COMPOSE</a></li>
					<li><a href="#" class="bttn icon refresh">Refresh</a></li>
					<li><a href="#" class="bttn mark_read">Mark as Read</a></li>
					<li><a href="#" class="bttn mark_unread">Mark as Unread</a></li>
					<li><a href="#" class="bttn icon delete">Delete</a></li>
				</ul>
  
				<table class="table table-bordered mailinbox" style="border-collapse:collapse; margin-top:10px;" border="0" cellpadding="5" cellspacing="3">
					<thead>
						<tr>
							<th class="head1 aligncenter"><input type="checkbox" class="checkall" /></th>
							<th class="head0">&nbsp;</th>
							<th class="head1">Sender</th>
							<th class="head0">Subject</th>
							<th class="head1 attachement">&nbsp;</th>
							<th class="head0">Date</th>
						</tr>
					</thead>
                                
				<div id="DynamicEmail">
					<!-- Web2Py-->

				</div>
			</div>	
		</div>	
	</body>
</html>