body
{
 	width: auto;
	background-color: red;
	background: rgba(196,208,217,1);
background: -moz-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(196,208,217,1)), color-stop(50%, rgba(62,78,91,1)), color-stop(90%, rgba(196,208,217,1)), color-stop(100%, rgba(196,208,217,1)));
background: -webkit-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: -o-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: -ms-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0d9', endColorstr='#c4d0d9', GradientType=1 );
}



.TextSpan
{
	
	width:80%;
	margin: 2em 10% 15% 10%;
	min-height: 550px ;

}

#InfoBox
{
		background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(26%, rgba(216,225,231,1)), color-stop(62%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
	width:60%;
	min-height: inherit;
	float: left;
	padding: 6% 8% 6% 8%;
}

#TextBox
{
	

	
}

#LogoSpan
{
	background-color: transparent;
	width:80%;
	margin: 2% 10% 0% 10%;
	height: 175px;
	
}


#SideBox
{
	border: groove;
	background-color: white; 
	width: 35%;
	min-width: 375px;
	min-height: inherit;
	float: right;
	padding: 3% 5% 2% 5%;
	border-left: 3px ridge black;
}


#LoginBox h1
{
	width: 100%;
	
}

#signUp
{
	width: 75%;
	margin-left:10%;
	margin-right:10%;
}

	hr { 
		display: block;
		margin-top: 10%;
		margin-bottom: 10%;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
	}
#LoginBox label
{
	width:100%;
	height: 100%;
}


#CreateBox h1
{
	
	float:right;
	margin-right: 50%;
	font-family:serif;
}

#CreateBox label
{
	width:100%;
	height: auto;
}

.Avatar
{
	width: 16em;
	height: 16em;
}

.InBoxSpan
{
	background: white;
	width: 25%;
	border-style: solid;
	float:left;
	min-height: inherit;
}

footer
{
	background:white;
	border-top: groove;
	width:100%;
	height:inherit;
	margin: 0% 10% 0% 10%;
}

.EmailSpan
{
	background: white;
	width: 75%;
	border-style: solid;
	float: right;
	min-height: inherit;
}
