body
{
 	width: auto;
	background-color: red;
	background: rgba(196,208,217,1);
background: -moz-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(196,208,217,1)), color-stop(50%, rgba(62,78,91,1)), color-stop(90%, rgba(196,208,217,1)), color-stop(100%, rgba(196,208,217,1)));
background: -webkit-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: -o-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: -ms-linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
background: linear-gradient(45deg, rgba(196,208,217,1) 0%, rgba(62,78,91,1) 50%, rgba(196,208,217,1) 90%, rgba(196,208,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d0d9', endColorstr='#c4d0d9', GradientType=1 );
}

footer
{
	background:transparent;
	width:80%;
	height:100px;
	margin: 0% 10% 0% 10%;
}


.TextSpan
{
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(26%, rgba(216,225,231,1)), color-stop(62%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 62%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
	width:80%;
	margin: 0% 10% 0% 10%;
	min-height: 500px ;

}

#LogoSpan
{
	background-color: blue;
	width:80%;
	margin: 2% 10% 0% 10%;
	height: 175px;
}


#SideBox
{
	
	width: 35%;
	min-width: 365px;
	min-height: inherit;
	float: right;
	padding: 5% 5% 5% 5%;
}


#LoginBox h1
{
	width: 100%;
	
}

#LoginBox label
{
	width:100%;
	height: auto;
}


#CreateBox h1
{
	
	float:right;
	margin-right: 50%;
	font-family:serif;
}

#CreateBox label
{
	width:100%;
	height: auto;
}